.p-list {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.p-list-texts {
  width: 65%;
}

.p-list-title {
  font-size: 50px;
  font-weight: 600;
}

.p-list-desc {
  margin: 20px 0px;
}

.p-list-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .p-list {
    margin-top: 20px;
    padding: 20px;
  }

  .p-list-texts {
    width: 100%;
  }

  .p-list-title {
    font-size: 40px;
  }

  .p-list-desc {
    text-align: justify;
  }
}
