.intro {
  display: flex;
  height: 100vh;
  z-index: 1;
}

.intro-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-left-wrapper {
  height: 30%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-greetings {
  font-size: 30px;
  font-weight: 300;
}

.intro-name {
  font-size: 60px;
}

.intro-title {
  height: 50px;
  overflow: hidden;
}

.intro-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.intro-title-item {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
}

.intro-scroll {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 30px;
  left: 49%;
}

.intro-right {
  flex: 1;
  position: relative;
  z-index: 1;
}

.right-image-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro-right-bg {
  clip-path: polygon(100% 0, 100% 100%, 26% 100%, 0 50%, 16% 0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #59b256;
}

.right-image-card.bg {
  position: absolute;
  bottom: 60px;
  left: 90px;
  background-color: rgb(36, 36, 36);
}

.right-image-card {
  width: 50%;
  height: 70vh;
  max-width: 100%;
  border-radius: 30px;
  overflow: hidden;
  z-index: -1;
}

.me-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
  }

  .intro-left-wrapper {
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .intro-title-item {
    justify-content: center;
  }

  .intro-right-bg {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 56% 100%);
  }

  .right-image-card.bg {
    position: absolute;
    bottom: 10px;
    left: 100px;
    background-color: rgb(36, 36, 36);
  }

  .right-image-card {
    width: 40%;
    height: 30vh;
    max-width: 100%;
    border-radius: 20px;
    overflow: hidden;
    z-index: -1;
  }
}
