.toggle {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background-color: white;
  position: fixed;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  z-index: 99;
}

.toggle-icon {
  width: 20px;
  height: 20px;
}

.toggle-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999999;
  position: absolute;
}

.toggle-button.dark {
  left: 0;
}

.toggle-button.light {
  right: 0;
}

@media screen and (max-width: 480px) {
  .toggle {
    width: 40px;
    height: 20px;
  }

  .toggle-icon {
    width: 18px;
    height: 20px;
    object-fit: cover;
  }

  .toggle-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #999999;
    position: absolute;
  }
}
